.page[b-khtw0syrpq] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-khtw0syrpq] {
    flex: 1;
}

.sidebar[b-khtw0syrpq] {
    background-color: #202020;
}



@media (max-width: 640.98px) {
    .sidebar[b-khtw0syrpq] {
        width: 100%;
        height: 0;
        position: sticky;
        top: 0;
    }
}

@media (min-width: 641px) {
    .page[b-khtw0syrpq] {
        flex-direction: row;
    }

    .sidebar[b-khtw0syrpq] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }
}
